* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant";
  direction: rtl;
  font-size: 30px;
}

img {
  max-width: 100%;
}

.checkbox-wrapper {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-wrapper label {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .checkbox-wrapper label {
    font-size: 14px;
  }
}
.checkbox-wrapper input {
  width: 15px;
  height: 15px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox-wrapper input + span {
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 15px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .checkbox-wrapper input + span {
    background-color: transparent;
  }
}
.checkbox-wrapper input:checked + span::after {
  content: "";
  position: absolute;
  left: 3px;
  top: -5px;
  width: 7px;
  height: 15px;
  border-bottom: 2px solid #203963;
  border-right: 2px solid #203963;
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .checkbox-wrapper input:checked + span::after {
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
}

.articlebox a {
  color: inherit;
  text-decoration: none;
}
.articlebox figure img {
  width: 100%;
  box-shadow: 2px 2px 3px 1px #b4b4b4;
}
.articlebox figure figcaption {
  background-color: #ffffff;
  padding: 30px 20px 20px 20px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: #203963;
}
.articlebox figure figcaption .title {
  font-size: 1em;
  font-weight: 800;
  color: #203963;
}
.articlebox figure figcaption .title span {
  color: #335CA2;
}

@media screen and (min-width: 1200px) {
  .headersection__inner {
    background-image: url("./../images/header.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 14px;
  }
}
.headersection__inner__form {
  max-width: 384px;
}
.headersection__inner__form__header {
  border-top: 24px solid #203963;
}
.headersection__inner__form__header img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 20px auto 16px auto;
}
@media screen and (max-width: 1199px) {
  .headersection__inner__form__header {
    display: none;
  }
}
.headersection__inner__form__content {
  background-color: #203963;
  padding: 20px 33px;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.headersection__inner__form__content .header__abs1 {
  position: absolute;
  right: -380px;
  top: -50px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.headersection__inner__form__content .header__abs1 .title {
  color: #335CA2;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
}
.headersection__inner__form__content .header__abs1 span {
  color: #203963;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}
.headersection__inner__form__content .header__abs1 label {
  font-size: 45px;
  font-weight: 800;
  color: #203963;
  line-height: 1;
  margin: 0 80px 0;
}
.headersection__inner__form__content .header__abs2 {
  position: absolute;
  top: 250px;
  right: -250px;
  text-align: right;
  font-size: 38px;
  color: #203963;
  width: 250px;
  line-height: 1;
}
.headersection__inner__form__content .header__abs2 b {
  color: #F7831D;
  font-size: 45px;
  font-weight: 800;
}
.headersection__inner__form__content .title {
  color: #F7831D;
  font-weight: 400;
  font-size: 30px;
}
.headersection__inner__form__content .title b {
  font-weight: 700;
}
.headersection__inner__form__content form {
  margin-top: 15px;
}
.headersection__inner__form__content .custominput input {
  font-weight: 400;
  color: #203963;
}
.headersection__inner__form__content .custominput button {
  font-weight: 700;
}
.headersection__inner__form__content .helptext {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.headersection__inner__form__footer .checkbox-wrapper {
  margin-top: 10px;
}
.headersection__inner__form__footer .checkbox-wrapper label {
  text-align: right;
}
.headersection__inner__form__footer .checkbox-wrapper input + span {
  border: 2px solid #203963;
  background-color: transparent;
}

.headerimg {
  width: 100%;
}

.landingcontent {
  font-weight: 600;
  font-size: 1em;
  padding-top: 25px;
}

.postsSection {
  padding: 38px 0;
}
@media screen and (max-width: 767px) {
  .postsSection {
    padding: 30px 0 0 0;
  }
  .postsSection .articlebox figure {
    margin-bottom: 0;
  }
}

.deservetext {
  padding: 20px 0;
  background-color: #F7941D;
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .deservetext {
    font-size: 1.25em;
  }
}
.deservetext b {
  font-weight: 700;
}

.formSection {
  background-color: #203963;
  padding: 40px 0;
  color: #ffffff;
}
.formSection.large {
  padding: 76px 0;
}
@media screen and (max-width: 767px) {
  .formSection.large {
    padding: 25px 0 45px;
  }
  .formSection.large .title {
    color: #F7831D;
    font-weight: 600;
    font-size: 30px;
  }
  .formSection.large .title b {
    font-weight: 800;
  }
  .formSection.large p {
    font-size: 25px;
    margin-bottom: 30px;
  }
}
.formSection .title {
  font-size: 1.55em;
  font-weight: 800;
}
.formSection p {
  font-size: 1.22em;
  font-weight: 400;
  padding: 0 18%;
  margin-bottom: 50px;
}
.formSection p b {
  font-weight: 800;
}
.formSection .custominput {
  margin-bottom: 36px;
}
@media screen and (max-width: 991px) {
  .formSection .custominput {
    margin-bottom: 16px;
  }
}

.custominput input {
  height: 60px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  outline: none;
}
.custominput button {
  background: transparent linear-gradient(180deg, #F7941D 0%, #F7831D 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
}

.infotext {
  margin-top: 20px;
  font-size: 0.88em;
  font-weight: 400;
  display: block;
}

.defautltitle, .transparentimgaebanner .title, .imagebanner .title {
  font-size: 1.55em;
  font-weight: 800;
  color: #203963;
  margin-bottom: 25px;
}

.imagebanner {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  padding: 60px 0 80px;
}
@media screen and (max-width: 767px) {
  .imagebanner {
    padding: 29px 0 30px;
  }
  .imagebanner .title {
    margin-bottom: 30px !important;
  }
}
.imagebanner .title {
  margin-bottom: 60px;
}
.imagebanner img {
  border: 1px solid #707070;
}

.transparentimgaebanner {
  padding: 60px 0 64px;
  background-image: url("./../images/default.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.11em;
  font-weight: 400;
  color: #203963;
}
@media screen and (max-width: 767px) {
  .transparentimgaebanner {
    padding: 30px 0;
    font-size: 20px;
  }
  .transparentimgaebanner p:nth-last-child(n+2) {
    margin-bottom: 30px !important;
  }
}
.transparentimgaebanner .title {
  color: #335CA2;
}
.transparentimgaebanner p:nth-last-child(n+2) {
  margin-bottom: 60px;
}
.transparentimgaebanner .content {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .headersection__inner .header__abs1, .headersection__inner .header__abs2 {
    display: none;
  }
  .headersection__inner .container {
    padding: 0 !important;
    max-width: 100%;
  }
  .headersection__inner .container .headersection__inner__form {
    max-width: 100%;
  }
  .headersection__inner__form__footer {
    background-color: #203963;
    padding: 0 33px 30px 33px;
  }
  .headersection__inner__form__footer .checkbox-wrapper {
    margin: 0;
    color: #ffffff;
  }
  .headersection__inner__form__footer .checkbox-wrapper label {
    font-size: 14px;
    font-weight: 300;
  }
  .headersection .showmobile {
    background-image: url("./../images/header.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 450px;
    border-top: 20px solid #203963;
  }
}
@media screen and (max-width: 1199px) and (max-width: 767px) {
  .headersection .showmobile {
    background-image: url("./../images/headermobile.jpg");
    min-height: 650px;
    background-size: cover;
  }
  .headersection .showmobile .logoimg {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  .headersection .showmobile .header__abs1 {
    margin: 20px 0 20px 20px !important;
    position: relative;
    display: inline-flex !important;
  }
  .headersection .showmobile .header__abs2 {
    width: 180px;
    margin: 40px auto 20px 20px !important;
  }
}
@media screen and (max-width: 1199px) {
  .headersection .showmobile .header__abs1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 30px;
  }
  .headersection .showmobile .header__abs1 .title {
    color: #335CA2;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
  }
  .headersection .showmobile .header__abs1 span {
    color: #203963;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  .headersection .showmobile .header__abs1 label {
    color: #203963;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
  }
}
@media screen and (max-width: 1199px) {
  .headersection .showmobile .header__abs2 {
    font-size: 25px;
    color: #203963;
    font-weight: 600;
    text-align: center;
  }
  .headersection .showmobile .header__abs2 b {
    color: #F7831D;
    font-weight: 800;
  }
}
@media screen and (max-width: 1199px) {
  .headersection .showmobile .logoimg {
    display: block;
    margin: 20px auto 20px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .showmobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 24px;
  }

  .imagebannersection .container {
    padding: 0;
    max-width: 100%;
  }
  .imagebannersection .container .imagebanner {
    max-width: 100%;
  }
  .imagebannersection .container .imagebanner img {
    border: 0;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

/*# sourceMappingURL=style.css.map */
